<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">


</head>


<body>


  <section class="header">




    <div class="container">
  
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid ">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f0b30f" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>
      <a class="navbar-brand" href="#">&nbsp;Better Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

   
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      
        
          <li class="nav-item">
            <a class="nav-link act" aria-current="page" href="#">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/buy">Buy</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/sale">Sale</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/rent">Rent</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/ourservices">Our Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
         
         
        </ul>
      
       
      
      </div>
      </nav>

    
                         

<div class="middle">

    <h1 class="text-white fw-bold display-3">
        We Help you to find<span class="theme-text"> a better home</span> </h1>
      </div>


        <br><br><br><br><br>
        <br>
        
      
        <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <linearGradient id="skyGradient" x1="0%" y1="0%" x2="100%" y2="0%">
    
      <stop offset="100%" style="stop-color: hsl(56, 97%, 63%); stop-opacity: 1" />
    </linearGradient>
  </defs>
  <path fill="url(#skyGradient)" fill-opacity="1" d="M0,256L60,240C120,224,240,192,360,154.7C480,117,600,75,720,96C840,117,960,203,1080,234.7C1200,267,1320,245,1380,234.7L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
</svg> -->



<h1 class="hh">Project and Plans</h1>
<br><br>
<div class="video">

        <div id="shopify-section-133f0d1c-1daf-4806-903a-78da68ddbc5e" class="shopify-section videoBackground">

          <div class="videoBox" style=""><div class="fullscreen-video-wrap">
                      <video class="video-js" loop="" autoplay="" preload="none" muted="" playsinline="" poster="https://aljalildevelopers.com/cdn/shop/files/main_banner.png?v=1672055295">
                          <source src="https://cdn.shopify.com/videos/c/o/v/20ccacc0eac7451fac2e0dad467ff423.mp4" type="video/mp4">
                      </video>
                  </div>
              
      
              <div class="overlay" style="opacity: 0.0"></div>
              <div class="videoBoxInfo">
                  
      <style data-shopify="">.videoBackground .imageBoxInfoDescription p {
                          color: #ffffff!important;
                      }</style>
      
                  
              </div>
          </div>
          
      <style>
      .main-content .videoBackground {
      margin-top: 0px;
      }
      .videoBackground {
      height: 100%;
      position: relative;
      }
      .videoBackground .fullscreen-video-wrap {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      }
      .videoBackground .fullscreen-video-wrap .video-js {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
      .videoBackground .fullscreen-video-wrap video {
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      }
      .videoBackground .videoBox {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      padding: 100px 20px 80px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 700px;
        max-height: 750px;
      height: calc(100vh - 165px);
      position: relative;
      
      
      }
      .videoBackground .imageBox {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      padding: 100px 20px 80px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      min-height: calc(100vh - 165px);
      height: auto;
      
      }
      .videoBackground .videoBoxInfo, .videoBackground .imageBoxInfo {
      z-index: 2;
      text-align: center;
      }
      .videoBackground .overlay {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      z-index: 1;
      }
      .videoBackground .videoBoxInfoBtn, .videoBackground .imageBoxInfoBtn {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      width: auto;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 2px;
      padding: 8px 15px;
      font-style: normal;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      white-space: normal;
      font-size: 14px;
      margin-top: 20px;
      }
      .videoBackground .videoBoxInfoTitle, .videoBackground .imageBoxInfoTitle {
      color: #FFF;
      font-size: 30px;
      line-height: 40px;
      }
      .videoBackground .videoBoxInfoDescription, .videoBackground .imageBoxInfoDescription {
      max-width: 500px;
      margin: 0 auto;
      }
      .videoBackground .videoBoxInfoDescription p, .videoBackground .imageBoxInfoDescription p {
      font-size: 18px;
      line-height: 28px;
      }
      .videoBackground .placeholderNoblocks {
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      }
      @media screen and (max-width: 767px) {
      .main-content .videoBackground {
          margin-top: -1px;
      }
      .videoBackground .fullscreen-video-wrap {
          z-index: 3;
      }
      .videoBackground .videoBox {
            min-height: 500px;
            height: 10;
            position: relative;
          padding: 0;
        
        }
      .videoBackground .fullscreen-video-wrap {
          position: relative;
          min-height: 400px;
      }
      .videoBackground .videoBoxInfo {
          padding: 20px 20px;
          background: #ffff;
          width: 100%;
      }


     


      }
      </style>
      
      </div>
        
           </section>


          </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
      























    <!-- mid -->
<div class="middle1">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Swift Sales, Happy Homes</strong>
            <h3 class="mb-0">Effortless Solutions for Your Home Sale</h3>
          
            <p class="card-text mb-auto">Are you ready to embark on a journey towards a new chapter in your life? Whether you're upgrading, downsizing, or simply exploring new horizons, our comprehensive home selling solutions are designed to make the process effortless and rewarding.</p>
            
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/Images/home2.jpg" alt="Home">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Swift Homes</strong>
            <h3 class="mb-0">Streamlined Solutions for Your Home</h3>
       
            <p class="mb-auto">
              Ready for a new life chapter? Whether upsizing, downsizing, or exploring new horizons, our seamless home selling solutions ensure an effortless and rewarding process. Your journey to a successful home sale starts here.</p>
          
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/Images/home1.jpg" alt="Home">
          </div>
        </div>
      </div>
    </div>

  </div>


<br>
<br>
<br>



<div class="pics">

  <h1>Appliances & Luxury Houses</h1>
  <br> 

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p1.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>

  
  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p2.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p3.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p4.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p5.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p6.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p7.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p8.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
    <img  src="/images/p9.jpg">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab quas quisquam?</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>

          </div>

        </div>
      </div>
    </div>
  </div>
  

</div>



<br><br><br><br>


<!-- footer -->

  





</body>
</html>