<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  
</head>
<body>
  <div class="head">
    <h1 style="background-color: #b66129; color: #51be12; padding: 10px;">Header</h1>

</div>
 
</body>
</html>